@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 20 14.3% 4.1%;
  --muted: 60 4.8% 95.9%;
  --muted-foreground: 25 5.3% 44.7%;
  --popover: 0 0% 100%;
  --popover-foreground: 20 14.3% 4.1%;
  --card: 0 0% 100%;
  --card-foreground: 20 14.3% 4.1%;
  --border: 20 5.9% 90%;
  --input: 20 5.9% 90%;
  --primary: 181.3 47.4% 36.2%; /* teal-700 */
  --primary-foreground: 211 100% 99%;
  --secondary: 217.2 91.2% 59.8%; /* blue-700 */
  --secondary-foreground: 222.2 47.4% 11.2%;
  --accent: 60 4.8% 95.9%;
  --accent-foreground: 24 9.8% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 60 9.1% 97.8%;
  --ring: 20 14.3% 4.1%;
  --radius: 0.5rem;

  /* Chart colors */
  --chart-1: 181.3 47.4% 36.2%; /* teal */
  --chart-2: 217.2 91.2% 59.8%; /* blue */
  --chart-3: 262.1 83.3% 57.8%; /* purple */
  --chart-4: 346.8 77.2% 49.8%; /* pink */
  --chart-5: 32.1 94.6% 43.7%; /* orange */

  /* Sidebar theme */
  --sidebar-background: 215 25% 27%;
  --sidebar-foreground: 0 0% 100%;
  --sidebar-primary: 181.3 47.4% 36.2%;
  --sidebar-primary-foreground: 210 40% 98%;
  --sidebar-accent: 213 27% 84%;
  --sidebar-accent-foreground: 215 25% 27%;
  --sidebar-border: 215 25% 22%;
  --sidebar-ring: 215 25% 27%;
}

.dark {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;
  --primary: 181.3 47.4% 36.2%;
  --primary-foreground: 211 100% 99%;
  --secondary: 217.2 91.2% 59.8%;
  --secondary-foreground: 0 0% 98%;
  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --ring: 240 4.9% 83.9%;
  --radius: 0.5rem;

  /* Sidebar dark theme */
  --sidebar-background: 240 10% 3.9%;
  --sidebar-foreground: 0 0% 98%;
  --sidebar-primary: 181.3 47.4% 36.2%;
  --sidebar-primary-foreground: 210 40% 98%;
  --sidebar-accent: 240 3.7% 15.9%;
  --sidebar-accent-foreground: 0 0% 98%;
  --sidebar-border: 240 3.7% 15.9%;
  --sidebar-ring: 240 4.9% 83.9%;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}
